{{!
    The content of the home page (not connected)
}}

<div class="d-flex flex-wrap  justify-content-center cadre-home ">

  <div class="list_ufr">
    {{# str }} listUFR1, theme_umticeboost {{/ str }}
  </div>
  <div class="list_ufr">
    {{# str }} listUFR2, theme_umticeboost {{/ str }}
  </div>
  <div class="list_ufr">
    {{# str }} listUFR3, theme_umticeboost {{/ str }}
  </div>
  <div class="list_ufr">
    {{# str }} listUFR4, theme_umticeboost {{/ str }}
  </div>
  <div class="list_ufr">
    {{# str }} listUFR5, theme_umticeboost {{/ str }}
  </div>
  <div class="list_ufr">
    {{# str }} listUFR6, theme_umticeboost {{/ str }}
  </div>
  <div class="list_ufr">
    {{# str }} listUFR7, theme_umticeboost {{/ str }}
  </div>
  <div class="list_ufr">
    {{# str }} listUFR8, theme_umticeboost {{/ str }}
  </div>


  <div class="w-100" style="height: 20px;"></div>


  <div class="icon-home">
    {{# pix }} user_group_70, theme, icon {{/ pix }}
  </div>
  <div class="text-home-icon">
    {{# str }} txthome1, theme_umticeboost {{/ str }}
  </div>

  <div class="icon-home">
    {{# pix }} tablet_70, theme_umticeboost, icon{{/ pix }}
  </div>
  <div class="text-home-icon">
    {{# str }} txthome2, theme_umticeboost {{/ str }}
  </div>

  <div class="icon-home">
    {{# pix }} wifi_70, theme_umticeboost, icon{{/ pix }}
  </div>
  <div class="text-home-icon">
    {{# str }} txthome3, theme_umticeboost {{/ str }}
  </div>

</div>
