// vars :
// === === === === === === === === === === ===

// Theme color:
$grayumtice           : #4d4d4d;
$lightgrayumtice      : #eee;
$pinkumtice           : #de5b5e;

// text:
$whiteText            : #fff;
$blackText            : #212529;

//background:
$lightbackground      : #eeeee9;

//navbar:
$navbarBackgroundColor: $grayumtice;
$navbarBorderColor    : $pinkumtice;
$navbarBorderSize     : 4px;
$navbarTextColor      : #fff;
$navbarHoverColor     : #d8d9da;

// Small tablets and large smartphones (landscape view)
$screen-sm-min        : 576px;

// Small tablets (portrait view)
$screen-md-min        : 768px;

// Tablets and small desktops
$screen-lg-min        : 992px;

// Large tablets and desktops
$screen-xl-min        : 1200px;

// Administration du site :
$adminDefaultRoleColor: #00ff3e;
