/** course
-------------------------*/

// Course Header
.context-header-settings-menu {
  display        : flex;
  flex-direction : row;
  flex-wrap      : wrap;
  justify-content: flex-end;
  align-items    : center;
  align-content  : center;
  height         : auto;
  max-width      : none;
  .edit-btn {
    margin: .5rem 1rem;
    border: 0;
  }
  .action-menu {
    .dropdown-toggle .icon {
      font-size: 40px;
    }
  }
}
