/** Dashboard PAGE
-------------------------*/

// boutton for All the courses page
.btn-courses {
  max-width    : 450px;
  margin       : 20px auto;
  padding      : 12px;
  text-align   : center;
  border       : 2px solid $whiteText;
  background   : $pinkumtice;
  border-radius: 8px;
  cursor       : pointer;
  &:hover {
    background: darken($pinkumtice, 5%);
  }
  a {
    font-size     : 22px;
    color         : $whiteText;
    text-transform: uppercase;
    font-weight   : 500;
    &:hover {
      color          : $whiteText;
      text-decoration: none;
    }
  }
}

/*
.btn-courses a:link,
.btn-courses a:visited {
  color: $whiteText;
}
*/
