/** HOME PAGE
-------------------------*/
.home-header-umticeboost {
  background: url("[[pix:theme|banner_1400]]") no-repeat center center;
  background-size: 100%;
  padding-top: 15px;
  padding-bottom: 20px; }
  @media (max-width: 576px) {
    .home-header-umticeboost {
      background: url("[[pix:theme|banner_600]]") no-repeat center center;
      background-size: auto; } }
  @media (max-width: 576px) {
    .home-header-umticeboost {
      background: url("[[pix:theme|banner_600]]") no-repeat center center;
      background-size: auto; } }
  .home-header-umticeboost .row {
    margin-top: 150px;
    margin-bottom: 27px; }
    .home-header-umticeboost .row img {
      height: 90px;
      width: auto; }
      @media (max-width: 576px) {
        .home-header-umticeboost .row img {
          height: 70px; } }
    .home-header-umticeboost .row h1 {
      color: #fff;
      font-size: 2em;
      font-weight: normal;
      text-shadow: 5px 5px 7px #212529;
      line-height: 5px;
      font-style: italic; }
      @media (max-width: 768px) {
        .home-header-umticeboost .row h1 {
          font-size: 1.5em; } }
      @media (max-width: 576px) {
        .home-header-umticeboost .row h1 {
          font-size: 1.3em; } }
    .home-header-umticeboost .row .btn-login {
      width: 320px;
      margin: 30px auto -75px;
      padding: 1rem 3rem;
      border: 2px solid #fff;
      background: #de5b5e;
      border-radius: 8px;
      font-size: 2.3em;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase; }
      .home-header-umticeboost .row .btn-login:hover {
        background: #d7393d; }

#page.home-umticeboost {
  margin-top: 15px; }
  #page.home-umticeboost #region-main {
    margin: 40px auto 20px;
    border: 0; }
  #page.home-umticeboost .cadre-home {
    max-width: 1200px;
    padding: 40px 20px 50px;
    border: 1px solid #de5b5e;
    background: #eeeee9;
    border-radius: 8px;
    font-size: 1.4em;
    line-height: 20px; }
    #page.home-umticeboost .cadre-home .list_ufr {
      border-left: solid 4px #de5b5e;
      padding-left: 10px;
      margin-top: 10px;
      width: 40%; }
      @media (max-width: 992px) {
        #page.home-umticeboost .cadre-home .list_ufr {
          width: 45%; } }
      @media (max-width: 576px) {
        #page.home-umticeboost .cadre-home .list_ufr {
          width: 80%; } }
    #page.home-umticeboost .cadre-home .icon-home {
      width: 14%;
      margin-top: 20px;
      text-align: center; }
      #page.home-umticeboost .cadre-home .icon-home img {
        width: 50px;
        height: auto;
        margin-left: auto !important;
        margin-right: auto !important; }
      @media (max-width: 768px) {
        #page.home-umticeboost .cadre-home .icon-home {
          width: 80%; } }
    #page.home-umticeboost .cadre-home .text-home-icon {
      margin-top: 20px;
      width: 85%;
      text-align: justify; }
      @media (max-width: 768px) {
        #page.home-umticeboost .cadre-home .text-home-icon {
          margin-top: 5px; } }
  #page.home-umticeboost .btn-courses {
    width: 90%;
    max-width: 400px;
    margin: 30px auto;
    padding: 1rem 3rem;
    border: 2px solid #fff;
    background: #de5b5e;
    border-radius: 8px;
    font-size: 1.8em;
    line-height: normal;
    text-transform: uppercase; }
    #page.home-umticeboost .btn-courses:hover {
      background: #d7393d; }
    @media (max-width: 768px) {
      #page.home-umticeboost .btn-courses {
        font-size: 1em; } }

/** Login form
-------------------------*/
#page-login-index {
  background-color: #fff; }
  #page-login-index [data-region='drawer-toggle'] {
    display: none; }
  #page-login-index span.login {
    color: #4d4d4d; }
  #page-login-index .loginbox .loginpanel {
    max-width: 350px;
    min-height: 200px;
    margin: 50px auto 25px !important;
    padding: 20px 25px 40px !important;
    text-align: center;
    border-radius: 2px;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); }
    #page-login-index .loginbox .loginpanel img {
      display: block;
      width: 96px;
      height: 96px;
      margin: 10px auto 25px;
      border-radius: 50%; }
  #page-login-index .loginbox .signuppanel {
    max-width: 450px;
    margin: 50px 20px 25px !important;
    padding: 20px 25px 40px !important;
    text-align: center;
    border-radius: 2px;
    background-color: #f8ffd0;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); }
  #page-login-index .loginbox .profile-img-card2 {
    display: block;
    width: 96px;
    height: 96px;
    margin: 10px auto 15px;
    border-radius: 5%; }
  #page-login-index .loginbox .loginpanel h2 {
    margin: 0;
    padding: 0; }
  #page-login-index .loginbox div.loginbox a {
    font-size: 1.3em; }
  #page-login-index .card {
    margin: 50px auto 25px !important;
    padding: 20px 25px 40px !important;
    border-radius: 2px;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); }

.navbar {
  background-color: #4d4d4d;
  border-bottom: 4px solid #de5b5e; }
  .navbar .logo img {
    height: 22px;
    width: auto; }
  .navbar .usermenu {
    color: #fff; }
    .navbar .usermenu a.dropdown-toggle {
      font-weight: 700;
      color: #fff; }
    .navbar .usermenu .login a {
      color: #de5b5e; }
    .navbar .usermenu .icon {
      color: #212529 !important; }
  .navbar .dropdown-item:hover {
    background-color: #d8d9da; }

#nav-drawer {
  background: #eee; }

footer#page-footer {
  background-color: #4d4d4d !important;
  text-align: center;
  line-height: 2; }
  footer#page-footer a {
    color: #de5b5e;
    text-decoration: none; }
    footer#page-footer a:hover {
      color: #d7393d;
      text-decoration: underline; }
  footer#page-footer .footer-umticeboost div {
    margin-top: 5px; }
  footer#page-footer .footer-umticeboost img {
    width: auto;
    height: 30px; }
  footer#page-footer .footer-umticeboost .logoUmPrn img {
    height: 50px; }
  footer#page-footer .footer-umticeboost ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  footer#page-footer .footer-umticeboost .textfooter {
    line-height: 1.5; }
  footer#page-footer .logininfo {
    margin-top: 15px; }
  footer#page-footer .homelink,
  footer#page-footer .sitelink,
  footer#page-footer .tool_dataprivacy {
    display: none; }

/** Dashboard PAGE
-------------------------*/
.btn-courses {
  max-width: 450px;
  margin: 20px auto;
  padding: 12px;
  text-align: center;
  border: 2px solid #fff;
  background: #de5b5e;
  border-radius: 8px;
  cursor: pointer; }
  .btn-courses:hover {
    background: #da4649; }
  .btn-courses a {
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500; }
    .btn-courses a:hover {
      color: #fff;
      text-decoration: none; }

/*
.btn-courses a:link,
.btn-courses a:visited {
  color: $whiteText;
}
*/
#page-admin-roles-define .capdefault {
  background-color: #00ff3e; }

/** course
-------------------------*/
.context-header-settings-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: auto;
  max-width: none; }
  .context-header-settings-menu .edit-btn {
    margin: .5rem 1rem;
    border: 0; }
  .context-header-settings-menu .action-menu .dropdown-toggle .icon {
    font-size: 40px; }

/*# sourceMappingURL=styles.css.map */