{{!
    Page footer.
}}

<footer id="page-footer" class="py-3 bg-dark text-light">
  <div class="container">
    <div id="course-footer">{{{ output.course_footer }}}</div>


    <div class="footer-umticeboost row">

      <div class="col-lg-4 d-none d-lg-block logoUmPrn">
        <a href="http://www.univ-lemans.fr/">
          {{# pix }} logoUM, theme_umticeboost, Le Mans Université{{/ pix }}
        </a>
      </div>


      <div class="col-lg-4">

        {{# pix }} logo_medium, theme_umticeboost, UMTICE{{/ pix }}
          <ul>
            <li>

              {{# str }} sitetitle, theme_umticeboost {{/ str }}
            </li>

          </ul>

      </div>

      <div class="col-lg-4 textfooter ">
        <h5>{{# str }} assistanceEns, theme_umticeboost {{/ str }} :</h5>

        <ul>
          <li>
            <a href="mailto:umtice-prn@univ-lemans.fr" target="_blank">
              {{# str }} assistance, theme_umticeboost {{/ str }}
            </a>
          </li>
          <li>
            <a href="/course/view.php?id=2245" target="_blank">
              {{# str }} FAQlong, theme_umticeboost {{/ str }}
            </a>
          </li>
          <li>
            <a href="http://coursumtice.univ-lemans.fr/" target="_blank">
              {{# str }} createcourse, theme_umticeboost {{/ str }}
            </a>
          </li>
        </ul>
      </div>
    </div>




    {{# output.page_doc_link }}
      <p class="helplink">{{{ output.page_doc_link }}}</p>
      {{/ output.page_doc_link }}

      {{{ output.login_info }}}
      <div class="tool_usertours-resettourcontainer"></div>
      {{{ output.home_link }}}
      <nav class="nav navbar-nav">
        {{# output.umticeboost_custom_menu_flat }}
          <ul class="list-unstyled pt-3">
            {{> theme_boost/custom_menu_footer }}
          </ul>
          {{/ output.umticeboost_custom_menu_flat }}
      </nav>
      {{{ output.standard_footer_html }}}
      {{{ output.standard_end_of_body_html }}}
  </div>
</footer>
